
.container-fluid.justify-content-between.align-items-center.px-4 {
    margin-top: 25px;
}
.t {
 filter: brightness(0) invert(1);
}
/* nav {
font-family: 'Melodrama', serif;

} */
 .container-fluid.justify-content-between.align-items-center {
    justify-content: center !important;
}
.card-1:hover {
  transform:  scale(1.03) !important;
  transition:all 0.3 ease-in-out !important;
   /* transition: 0.5s ease-in-out, opacity 0.5s ease; */
   opacity: 1;  
   color: white;
     transform: translateY(-5px) scale(1.02); /* slight lift and zoom */
  box-shadow: 0 10px 20px rgba(0,0,0,0.35); /* deeper shadow on hover */
  background: linear-gradient(
    to bottom right, 
    rgba(255,255,255,0.05), 
    rgba(0,0,0,0.2)
  ) 
}


.card-1 {
  border-radius: 12px;
  overflow: hidden; 
  will-change: transform;
  transition: transform 0.4s ease , background 0.4s ease;
  position: relative;
}
.smallone {
  margin-right: 191px;
}
.hrone {
  opacity: 0.5;
   box-shadow: 0 10px 20px rgba(0,0,0,0.35);
    background: linear-gradient(
    to left right, 
    rgba(255,255,255,0.05), 
    rgba(0,0,0,0.2)
  ) 
}
a {
  text-decoration: none !important;
}
h5 {
  color: gray;
}
